footer.footer
	.container
		p.pull-right
			a(href="#").
				Back to top
		p.
			<a href='https://github.com/diosney/routerGUI'>routerGUI</a> #{+new Date().getFullYear()}

script(type='text/javascript', src='/javascripts/external/jquery/jquery.js')
script(type='text/javascript', src='/javascripts/external/bootstrap/js/bootstrap.js')
script(type='text/javascript', src='/javascripts/global.js')