doctype 5
html
	head
		title= title
		link(rel='shortcut icon', href='/images/icons/favicon.ico')

		link(rel='stylesheet',media='screen', href='/javascripts/external/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/global.css')
	body
		block navigation
		block header
		block breadcrumbs
		block content
		block footer

		block templates
		block scripts