.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a(href='#',class='brand') routerGUI
			.nav-collapse.collapse
				ul.nav
					li(class=(menu == 'dashboard'?'active':''))
						a(href='/').
							Dashboard
					li.dropdown(class=(menu == 'system/settings' || menu == 'system/tuning' ?'active':''))
						a(data-toggle="dropdown",href='#').dropdown-toggle System
							b.caret
						ul.dropdown-menu
							li(class=(menu == 'system/settings'?'active':''))
								a(href='/system/settings').
									Settings
							li(class=(menu == 'system/tuning'?'active':''))
								a(href='/system/tuning').
									Tuning
					li.dropdown(class=(menu == 'interfaces/devices' || menu == 'interfaces/devices' ?'active':''))
						a(data-toggle="dropdown",href='#').dropdown-toggle Interfaces
							b.caret
						ul.dropdown-menu
							li(class=(menu == 'interfaces/devices'?'active':''))
								a(href='/interfaces/devices').
									Devices