.navbar.navbar-fixed-top
	.navbar-inner
		.container
			a(href='#',class='brand') routerGUI
			.nav-collapse.collapse
				ul.nav
					li(class=(menu == 'dashboard'?'active':''))
						a(href='/').
							Dashboard
					li.dropdown(class=(menu == 'system/settings' || menu == 'system/tuning' ?'active':''))
						a(data-toggle="dropdown",href='#').dropdown-toggle System
							b.caret
						ul.dropdown-menu
							li(class=(menu == 'system/settings'?'active':''))
								a(href='/system/settings').
									Settings
							li(class=(menu == 'system/tuning'?'active':''))
								a(href='/system/tuning').
									Tuning
					li.dropdown(class=(menu == 'interfaces/devices' || menu == 'interfaces/vlans' ?'active':''))
						a(data-toggle="dropdown",href='#').dropdown-toggle Interfaces
							b.caret
						ul.dropdown-menu
							li(class=(menu == 'interfaces/devices'?'active':''))
								a(href='/interfaces/devices').
									Devices
							li(class=(menu == 'interfaces/vlans'?'active':''))
								a(href='/interfaces/vlans').
									VLANs
					li.dropdown(class=(menu == 'routing/settings' || menu == 'routing/static'?'active':''))
						a(data-toggle="dropdown",href='#').dropdown-toggle Routing
							b.caret
						ul.dropdown-menu
							li(class=(menu == 'routing/settings'?'active':''))
								a(href='/routing/settings').
									Global Settings
							li(class=(menu == 'routing/static'?'active':''))
								a(href='/routing/static').
									Static Routing
					li.dropdown(class=(menu == 'services/ipsets' || menu == 'services/nat'?'active':''))
						a(data-toggle="dropdown",href='#').dropdown-toggle Services
							b.caret
						ul.dropdown-menu
							li(class=(menu == 'services/ipsets'?'active':''))
								a(href='/services/ipsets').
									IP Sets (Aliases)
							li(class=(menu == 'services/nat'?'active':''))
								a(href='/services/nat').
									NAT
							li(class=(menu == 'services/shaper'?'active':''))
								a(href='/services/shaper').
									Bandwith Management
					li.dropdown(class=(menu == 'security/firewall'?'active':''))
						a(data-toggle="dropdown",href='#').dropdown-toggle Security
							b.caret
						ul.dropdown-menu
							li(class=(menu == 'security/firewall'?'active':''))
								a(href='/security/firewall').
									Firewall