/* =General.
 -------------------------------------------------------------- */
body {
	/* background: url('../images/backgrounds/body.gif') repeat scroll 0 0 #E6E6E6; TODO */
	padding-top: 40px;
	position: relative;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clearfix {
	clear: both;
}
.align-center {
	text-align: center !important;
}
.hidden {
	display: none;
}
.position-absolute {
	position: absolute;
}
.position-relative {
	position: relative;
}
.color-red {
	color: red;
}
/* =Images.
 -------------------------------------------------------------- */
.ajax-loader {
	display: none;
	margin-left: 0.5em;
}
/* =Messages.
 -------------------------------------------------------------- */
#message-dashboard {
	margin-top: 1em;
}
/* =Footer.
 -------------------------------------------------------------- */
.footer {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	margin-top: 50px;
	padding: 50px 0;
}
/* =Tables.
 -------------------------------------------------------------- */
.table td {
	vertical-align: middle !important;
}
/* =Forms.
 -------------------------------------------------------------- */
label {
	cursor: pointer;
}
td label {
	margin-bottom: 0;
}
.field-description {
	color: gray;
	font-size: 0.9em;
	font-style: italic;
	margin-left: 0.2em;
}
.FormGrid .field-description {
	font-size: 1em;
}
/* =Progress Indicators.
 -------------------------------------------------------------- */
.progress {
	display: inline-block;
	height: 12px;
	margin-bottom: 0;
	margin-right: 0.4em;
	width: 75%;
}
.progress:last-child {
	margin-bottom: 0;
}
/* =Pages. Dashboard.
 -------------------------------------------------------------- */
#res-usage td {
	width: 55%;
}
#res-usage .disk-usage-cell .progress {
	width: 67%;
}
#res-usage .load-cell {
	padding-left: 3em;
}
/* =Grids.
 -------------------------------------------------------------- */
.ui-jqgrid tr.jqgrow td {
	white-space: normal !important;
}
.ui-jqgrid .ui-pg-input {
	width: auto;
}
.ui-jqgrid .ui-pg-selbox {
	width: auto;
}
.jqgroup {
	text-transform: uppercase;
}
.jqgroup td {
	font-weight: bold !important;
	text-align: center !important;
}
.ui-jqgrid-labels .color-red {
	display: none;
}
/* =Grids. Tuning.
 -------------------------------------------------------------- */
.column_description {
	padding: 0.5em !important;
	padding-left: 1em !important;
}
#description {
	width: 18.2em;
}
/* =Pages. Interfaces. Devices.
 -------------------------------------------------------------- */
.status-negative {
	color: #d41726;
	font-weight: bold !important;
}
.status-danger {
	color: #9800d4;
	font-weight: bold !important;
}
.status-positive {
	color: green;
	font-weight: bold !important;
}
.column_identifier {
	font-weight: bold !important;
}
/* =Pages. Interfaces. VLANs.
 -------------------------------------------------------------- */
.column_tag {
	font-weight: bold !important;
}
/* =Icons.
 -------------------------------------------------------------- */
.icon-help {
	margin-left: 0.5em;
}
/* =Headings.
 -------------------------------------------------------------- */
h3 a {
	margin-top: 0.5em;
}