/* =General.
 -------------------------------------------------------------- */
body {
	/* background: url('../images/backgrounds/body.gif') repeat scroll 0 0 #E6E6E6; TODO */
	padding-top: 40px;
	position: relative;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clearfix {
	clear: both;
}
.align-center {
	text-align: center !important;
}
.align-left {
	text-align: left !important;
}
.hidden {
	display: none;
}
.no-margin-left {
	margin-left: 0 !important;
}
.position-absolute {
	position: absolute;
}
.position-relative {
	position: relative;
}
.color-red {
	color: red;
}
/* =Images.
 -------------------------------------------------------------- */
.ajax-loader {
	display: none;
	margin-left: 0.5em;
}
/* =Messages.
 -------------------------------------------------------------- */
#message-dashboard {
	margin-top: 1em;
}
/* =Footer.
 -------------------------------------------------------------- */
.footer {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	margin-top: 50px;
	padding: 50px 0;
}
/* =Tables.
 -------------------------------------------------------------- */
.table td {
	vertical-align: middle !important;
}
/* =Forms.
 -------------------------------------------------------------- */
label {
	cursor: pointer;
}
td label {
	margin-bottom: 0;
}
.field-description {
	color: gray;
	font-size: 0.9em;
	font-style: italic;
	margin-left: 0.2em;
}
.FormGrid .field-description {
	font-size: 1em;
}
/* =Progress Indicators.
 -------------------------------------------------------------- */
.progress {
	display: inline-block;
	height: 12px;
	margin-bottom: 0;
	margin-right: 0.4em;
	width: 75%;
}
.progress:last-child {
	margin-bottom: 0;
}
/* =Pages. Dashboard.
 -------------------------------------------------------------- */
#res-usage td {
	width: 55%;
}
#res-usage .disk-usage-cell .progress {
	width: 67%;
}
#res-usage .load-cell {
	padding-left: 3em;
}
/* =Pages. System. Tuning.
 -------------------------------------------------------------- */
#FrmGrid_tunable-list-grid #path {
	width: 23.5em !important;
}
#path-tree-container {
	height: 10em;
	margin-top: -1em;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 24.5em;
}
#path-tree-container a {
	width: 100%;
}
[rel="folder"] > .jstree-clicked {
	background-color: white !important;
	border-color: white !important;
	color: black !important;
}
/* =Grids.
 -------------------------------------------------------------- */
.ui-jqgrid tr.jqgrow td {
	white-space: normal !important;
}
.ui-jqgrid .ui-pg-input {
	width: auto;
}
.ui-jqgrid .ui-pg-selbox {
	width: auto;
}
.jqgroup {
	text-transform: uppercase;
}
.jqgroup td {
	font-weight: bold !important;
	text-align: center !important;
}
.ui-jqgrid-labels .color-red {
	display: none;
}
.FormGrid #description {
	height: 7em;
	width: 23em !important;
}
.FormGrid input[type="text"] {
	width: 13em;
}
.FormGrid select {
	width: 13.8em;
}
.FormGrid input[readonly="readonly"] {
	border: medium none;
	box-shadow: none;
	cursor: default;
}
.FormGrid #net_mask_dropdown {
	height: 2.5em;
	margin-left: 0.5em;
	width: 5em;
}
.column_description {
	padding: 0.5em !important;
	padding-left: 1em !important;
}
/* =Pages. Interfaces. Devices.
 -------------------------------------------------------------- */
.status-negative {
	color: #d41726;
	font-weight: bold !important;
}
.status-danger {
	color: #9800d4;
	font-weight: bold !important;
}
.status-positive {
	color: green;
	font-weight: bold !important;
}
.column_identifier {
	font-weight: bold !important;
}
.column_scope {
	text-transform: capitalize;
}
#tr_scope .CaptionTD {
	vertical-align: top !important;
}
/* =Pages. Interfaces. VLANs.
 -------------------------------------------------------------- */
.column_tag {
	font-weight: bold !important;
}
/* =Icons.
 -------------------------------------------------------------- */
.icon-help {
	margin-left: 0.5em;
}
/* =Headings.
 -------------------------------------------------------------- */
h3 a {
	margin-top: 0.5em;
}
/* =jsTree.
 -------------------------------------------------------------- */
.jstree-leaf a > ins {
	background: url('../images/icons/file.png') no-repeat scroll left top transparent !important;
}
/* =Pages. Routes. Static.
 -------------------------------------------------------------- */
.family_dropdown {
	height: 2.5em;
	margin-right: 0.5em !important;
	width: auto !important;
}
.net_mask_dropdown {
	height: 2.5em;
	margin-left: 0.5em !important;
	width: 5.2em !important;
}
/* =Pages. Services. NAT.
 -------------------------------------------------------------- */
/* =Pages. Services. NAT. Destination Port section.
 -------------------------------------------------------------- */
.port_type {
	margin-right: 0.5em !important;
	width: auto !important;
}
.port_selection_container:first-of-type {
	margin-left: 0;
}
.port_selection_container {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-left: 0.2em;
}
.port_selection_container input[type="text"] {
	margin-right: 0.5em;
	width: 3.2em;
}
.port_selection_container .btn {
	padding: 0.1em 0.4em;
}
#tr_destination_ports .CaptionTD {
	vertical-align: top !important;
}
/* =Pages. Services. NAT. To NAT section.
 -------------------------------------------------------------- */
.ip_type, .port_type {
	margin-right: 0.5em !important;
	width: auto !important;
}
.to_nat_selection_container {
	margin-left: 0;
}
.to_nat_selection_container {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-left: 0.2em;
}
#tr_to_nat .CaptionTD {
	vertical-align: top !important;
}
.to_nat_selection_container select {
	margin-bottom: 0.4em !important;
	width: 8em !important;
}
.to_nat_selection_container input {
	margin-right: 0.5em;
	width: 6em !important;
}