doctype 5
html
	head
		title= title
		link(rel='shortcut icon', href='/images/icons/favicon.ico')

		link(rel='stylesheet',media='screen', href='/javascripts/external/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/global.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/install.css')
	body
		.container
			.row-fluid
				.span12
					#message-dashboard
			.row-fluid
				.span12
					form.ajax-form.form-horizontal(action='/api/system/install',method='POST')
						#to-be-installed(class=installed ? 'hidden' : '')
							.well
								h3 Welcome to the installation screen!
							.well
								| Thanks for give a try to <strong>routerGUI</strong>.
								br
								br
								p The installation process is very quickly so in <strong>few seconds</strong> you will be configuring the system.

								p When you click the <strong>Install</strong> button the system will be installed with sensible default values that you can change at any time though the system screens.

								.alert.alert-danger Once you install the system it is highly recommended to <strong>NOT CONFIGURE IT</strong> by any means but through the system to avoid the chances of database-system unsynced states.
								button.btn.btn-primary.btn-large(type='submit',name='submit',value="install") Install System
								img.ajax-loader(src='/images/ajax-loader-light.gif')
						#installed(class=installed ? '' : 'hidden')
							.well
								h3 Already Installed!

							.alert.alert-success
								| It appears that you have already installed routerGUI.
								br
								| To reinstall please clear your old database tables and set configuration variable <strong>installed</strong> to false.
							br
							a.btn.btn-primary(href="/")
								i.icon-home.icon-white
								| &nbsp;Go to Dashboard

		footer.footer
			.container
				p.
					<a href='https://github.com/diosney/routerGUI'>routerGUI</a> #{+new Date().getFullYear()}

		script(type='text/javascript', src='/javascripts/external/jquery/jquery.js')
		script(type='text/javascript', src='/javascripts/external/bootstrap/js/bootstrap.js')
		script(type='text/javascript', src='/javascripts/global.js')

		script(type='text/javascript', src='/javascripts/external/form/jquery.form.js')
		script(type='text/javascript', src='/javascripts/ui/system/install.js')

		#templates-container.hidden
			.alert.alert-error
				a.close(href="#",data-dismiss="alert") ×
				strong.
					Error!&nbsp;
				span.msg-mark
			.alert.alert-success
				a.close(href="#",data-dismiss="alert") ×
				span.msg-mark